:root {
  --primary-dark: #011c44;
  --primary-light: #2b7fff;
}

/* base */
body {
  font-size: 'Roboto', 'sans-serif';
}

ul {
  list-style-type: none;
}
/* button */
.button {
  color: #fff;
  border-radius: 32px;
  background-color: var(--primary-light);
  cursor: pointer;
}
.button.button:hover {
  color: var(--primary-dark);
  background-color: transparent;
}
.order {
  color: #4a4a4a;
}
/* link */
.link {
  color: var(--primary-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--primary-light);
}
/* Hero-section */
.hero-title {
  color: var(--primary-light);
  font-size: 'Play', 'sans-serif';
}

.section-title {
  color: var(--primary-dark);
}
/* Highlighted words */
.accent {
  color: var(--primary-light);
}
/* Advantages section */
.advantages-list {
  color: #000;
}
/* Description info */
.description {
  color: var(--primary-dark);
}
/* Procedores  */
.procedures {
  color: #fff;
}
/* Footer */
