:root {
  --primary-dark: #011c44;
  --primary-light: #2b7fff;
}

/* base */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}
/* button */
.button {
  color: #fff;
  font-weight: 600;
  border-radius: 32px;
  background-color: var(--primary-light);
  cursor: pointer;
  padding: 16px 32px;
}
.button.button:hover {
  color: var(--primary-dark);
  background-color: transparent;
}
.order {
  color: #4a4a4a;
  line-height: 1.5;
  padding-top: 14px;
}
/* link */
.link {
  color: var(--primary-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--primary-light);
  font-weight: 700;
}
/* hero section */
.hero-section {
  padding: 16px 0 83px;
}
.cosmetology-clinic {
  padding: 20px 0 187px;
}
.advantages-section {
  padding: 187px 0 48px;
}
.procedures-section {
  padding: 48px 0;
}
.location-section {
  padding: 48px 0 46px;
}
.footer-section {
  padding: 46px 0 0;
}
.hero-title {
  color: var(--primary-light);
  font-family: 'Play', 'sans-serif';
  text-align: left;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  font-style: normal;
  line-height: 0.81;
  margin-bottom: 0;
  padding: 16px 0 40px;
}

.section-title-one {
  color: var(--primary-dark);
  text-align: left;
}
.title-description span {
  text-transform: capitalize;
}

.section-title {
  color: var(--primary-dark);
  text-align: center;
}

/* Highlighted words */
.accent {
  color: var(--primary-light);
}
/* Advantages section */
.advantages-list {
  color: #000;
  line-height: 1.33;
}
/* Description info */
.description {
  color: var(--primary-dark);
  text-align: left;
  line-height: 1.7;
}
.description .brand {
  text-transform: capitalize;
  font-weight: 600;
}

/* Procedores  */
.procedures {
  color: #fff;
  line-height: 1.18;
}
/* Footer */
.address-link {
  color: #fff;
  text-decoration: none;
}
.address-copyright {
  color: #747272;
  font-size: 13px;
}
